.DoctCard {
    /* background-color: #25476A; */
    background-image: linear-gradient(to top, #c40c0c, #d43908, #e45605, #f27004, #ff8a08);
}
.doctSideBar-Container {
    /* background-color: #574476; */
    background-image: linear-gradient(to bottom, #c40c0c, #d43908, #e45605, #f27004, #ff8a08);
    height: 848px;
}
.EnseignantDashboard-container {
    width:1130px;
    height:845px;
    /* background-color: rgb(210, 210, 210); */
    overflow: auto;
}
.cardStatistcs {
  /* background-color: #574476; */
  background-image: linear-gradient(to bottom, #c40c0c, #d43908, #e45605, #f27004, #ff8a08);
}
.enseignantAccueil {
  width: 1100px;
}
.navDash {
    height: 80px;
    width: 1060px;
}
/* Default styles for the child elements */
.icon-path {
    fill: white;
    transition: fill 0.3s;
  }
  
  .text-xl {
    color: white;
    transition: color 0.3s;
  }
  
  /* Styles for child elements when parent div is hovered */
  .div:hover .icon-path {
    fill: #0c4a6e; /* Change this to the desired hover color for the SVG icon */
  }
  
  .div:hover .text-xl {
    color: #0c4a6e; /* Change this to the desired hover color for the text */
  }
  .btn :hover {
    background-color: #2d0560;
}