.EnseiCard {
    /* background-color: #25476A; */
    /* background-image: linear-gradient(to top, #061b9a, #0a1eaf, #1021c5, #1724db, #2026f1); */
    background-color: #503C3C;
}
.enseiSideBar-Container {
    /* background-color: #574476; */
    /* background-image: linear-gradient(to bottom, #061b9a, #0a1eaf, #1021c5, #1724db, #2026f1); */
    /* background-color: #6C0345; */
    background-color: #1F1717;
    height: 848px;
}
.EnseignantDashboard-container {
    width:1130px;
    height:845px;
    /* background-color: rgb(210, 210, 210); */
    overflow: auto;
}
.cardStatistcsEnsei {
  /* background-color: #574476; */
  background-image: linear-gradient(to bottom, #061b9a, #0a1eaf, #1021c5, #1724db, #2026f1);
}
.enseignantAccueil {
  width: 1100px;
}
/* .navDash {
    height: 80px;
    width: 1060px;
} */


/* .navDash {
    height: 80px;
    width: 5165151px;
} */


@media (max-width: 1536px) {
  .media-width-nav {
    width: 1420px;
  }
  .navDash {
    width: 1420px;
  }
}

/* @media (max-width: 1536px) {
  .navDash {
    width: 1360px;
}
} */
/* Default styles for the child elements */
/* .icon-path {
    fill: #FF6500;
    transition: fill 0.3s;
  }
  
  .text-xl {
    color: white;
    transition: color 0.3s;
  } */
  
  /* Styles for child elements when parent div is hovered */
  /* .div:hover .icon-path {
    fill: #0c4a6e; 
  } */
  
  /* .div:hover .text-xl {
    color: #0c4a6e;
  } */