.mainContainerLogin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.waveLogin {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.containerLogin {
    width: 100%;
    height: 460px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.imgLogin {
    display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
  /* margin-right: 40px; */
  width: 600px;
}
.imgLogin img{
    width: 400px;
    margin-right: 190px;
  
}
.login-content {
    display: flex;
    align-items: center;
    text-align: center;
    left: 525px;
    width: 36%;
    margin-top: 30px;
    margin-left: 220px;
    position: absolute;
   
}   
.formLogin {
    width: 80%;
  
}
.logoLogin {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; 
}
.logoLogin .logoLogin-img {
  width: 100px;
  height: 120px;
}
.formLogin h1 {
    font-size: 1rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}
.input-divLogin {
  position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;

}
.input-divLogin:after, .input-divLogin:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgba(4, 12, 248, 0.811);
}
.input-divLogin:after {
  right: 50%;
}
.input-divLogin:before {
  left: 50%;
}
.input-divLogin.withoutFocus .i  {
  color: #d9d9d9;
}
.input-divLogin.focus .i  {
    color: rgba(4, 12, 248, 0.811);
}
.input-divLogin.focus div h5 {
  top: 0;
  font-size: 15px;
  font-weight: bold;
}
.input-divLogin.focus:after, .input-divLogin.focus:before {
  width: 50%;
}
.input-divLogin.user {
    margin-top: 0;
}
.input-divLogin.pass {
    margin-bottom: 4px;
}
.i {
    display: flex;
  justify-content: center;
  align-items: center;
}
.input-divLogin > div{
    position: relative;
  height: 45px;
}
.input-divLogin > div h5 {
    position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  /* display: none; */
  transition: .3s;
}
.inputLogin {
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}
.spanLogin {
    display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}
.spanLogin:hover {
  color: rgba(9, 9, 210, 0.811);
  cursor: pointer;
}
.btnLogin {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(4, 12, 248, 0.811), rgba(39, 39, 249, 0.811), rgba(116, 116, 250, 0.811));
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
}

.btnLogin:hover {
    /* background-image: linear-gradient(to left, rgba(4, 12, 248, 0.811), rgba(39, 39, 249, 0.811), rgba(116, 116, 250, 0.811)); */
    background-position: left bottom;
}
.pageContainer {
    position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .logoContainer {
    position: absolute;
  top: 20px;
  left: 20px;
  }
  .logo {
    width: 100px; 
  }
  
  .cardLogin {
    background: white;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 11rem;
    width: 80%; 
    min-width: 800px; 
  }