.Recherche-container {
  height: 2100px;
}

.presentRecherche {
  height: 770px;
  background-image: url("../pictures/background-recherche.jpg");
  background-size: cover;
}

.headerA {
  position: relative;
  transform: translateX(-500px);
  opacity: 0;
  transition: all 2s ease;
}

.headerB {
  transform: translateX(0px);
  opacity: 1;
}

.Introduction-content {
  font-family: "Roboto";
  font-size: 20px 
}


@media (max-width:1280px) {
    .Recherche-title {
        font-size:80px;
    }

    .Introduction-content {
      font-size:17px;
    }
}

.Theme-Recherches-Container {
    height: 1000px;
}

.image-back {
    height: 600px;
    background-image: url("../pictures/departement-communication.jpg");
    background-size: cover;
}

.image-back-labo {
  height: 600px;
  background-image: url("../pictures/laboBackground.jpg");
  background-size: cover;
}

.membre-equipe {
  height:500px;
}

.membre-labo {
  height:500px;
}

.equipe-page-container {
  height: 2200px;
}

.labo-page-container {
  height: 2200px;
}

.header-profile {
  background-image: url("../pictures/profileRech-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.membre-equipe {
  height: 260px
}

.doctorant-equipe {
  height: 260px;
}

.doctorant-labo {
  height: 260px;
}